html{
	box-sizing: border-box;
	line-height: 1.5em;
	margin 0;
	padding; 0;
	box-sizing:border-box;
}

*, *::before, *::after{
	box-sizing: inherit;
}

body{
	margin: 0;
}

a{
	text-decoration: none;
	color: #fff;
}

h1{
	text-align: center;
}

nav ol{
	display: inline;
	margin: 0 auto;
	padding-left: 0;
}

nav li{
	width: calc(100% / 4);
	text-align: center;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 1em 0;
	background-color: rgba(23, 82,1, 0.5);
	line-height: 1em;
}

nav li:hover{
	background-color: green;
}

header{
	background-color: yellow;
	margin: 0;
	overflow: hidden;
}

.hero-div{

	background-color: green;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

 figure{
 	background-color: green;
 	display: block;
 	padding:0;
 	margin: 0;
 	position: relative;
 }

.hero-div img{
	width: 100%;
	padding: 0;
	margin: 0;
	display: block;
}

figcaption{
	position: absolute;
	bottom: 1em;
	left: 10%;
	background: rgba(255,255,255,0.4);
	width:80%;
	padding: 0 1em;
	text-align: center;
	border-radius: 10px;
	color: #fff;
}

figcaption h2{
	padding: 0.5em 0 0 0;
	margin: 0;
}

figcaption p{
	padding: 0;
	margin: 0;
}
}

//* IMAGES*//


	figure{
		position: relative;
	}

